---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>&location=%7B%22location%22=%3E%22Florence,%20AL%22%7D&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 19 Jan 2021 07:18:16 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{\"location\"=>\"Florence,
        AL\"}"},"locations":[{"street":"Florence Alley","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Schenectady","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p0/3161","unknownInput":"","type":"s","latLng":{"lat":42.82853,"lng":-73.92184},"displayLatLng":{"lat":42.82853,"lng":-73.92184},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=42.82853,-73.92184|marker-sm-50318A-1&scalebar=true&zoom=15&rand=700114425"}]}]}'
  recorded_at: Tue, 19 Jan 2021 07:18:17 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&lat=42.82853&lon=-73.92184&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.8285,"lon":-73.9218,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1611040697,"sunrise":1611058870,"sunset":1611093087,"temp":24.44,"feels_like":16.43,"pressure":1014,"humidity":74,"dew_point":18.14,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":4.94,"wind_deg":289,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1611040740,"precipitation":0},{"dt":1611040800,"precipitation":0},{"dt":1611040860,"precipitation":0},{"dt":1611040920,"precipitation":0},{"dt":1611040980,"precipitation":0},{"dt":1611041040,"precipitation":0},{"dt":1611041100,"precipitation":0},{"dt":1611041160,"precipitation":0},{"dt":1611041220,"precipitation":0},{"dt":1611041280,"precipitation":0},{"dt":1611041340,"precipitation":0},{"dt":1611041400,"precipitation":0},{"dt":1611041460,"precipitation":0},{"dt":1611041520,"precipitation":0},{"dt":1611041580,"precipitati[...]
